@charset "UTF-8";
@import url("../vendor/materialdesignicons/css/materialdesignicons.css");

@font-face
{
  font-family: 'Overpass Mono';
  src: url(../typefaces/overpass-mono/overpass-mono-semibold.otf);
  font-style: normal;
  font-weight: 300;
}

html,
body
{
  cursor: url(../img/cursor__metal.cur), pointer;
}

footer
{
  color: #FFF;
  background: #1C1D25;
  justify-content: center;
}

a
{
  text-decoration: none;
}

a:hover
{
  cursor: inherit;
}

.navbar
{
  font-family: 'Overpass Mono', monospace;
}

::-webkit-scrollbar
{
  width: .4rem;
  background-color: transparent;
}

::-webkit-selection
{
  background: #BDBDBD;
}

::selection
{
  background: #BDBDBD;
}

::-webkit-scrollbar-thumb
{
  background-color: #FFC600;;
  border-top-left-radius: 1.5625rem;
  border-top-right-radius: 1.5625rem;
  border-bottom-left-radius: 1.5625rem;
  border-bottom-right-radius: 1.5625rem;
}