@import url("animation.css?v=1");

.navbar
{
	-webkit-transition: all 0.6s ease-out;
	-moz-transition: all 0.6s ease-out;
	-o-transition: all 0.6s ease-out;
	-ms-transition: all 0.6s ease-out;
	transition: all 0.6s ease-out;
}

header.jumbotron
{
  display: flex;
  height: 100vh;
  background-image: url(../img/header__background.jpg);
}

header.jumbotron .container .row
{
  color: #FFF;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.parallax
{
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wave
{
  display: inline-block;
  animation-duration: 2.5s;
  transform-origin: 70% 70%;
  animation-name: wave-animation;
  animation-iteration-count: infinite;
}

/*----- Section Header -----*/
.section__head
{
  font-family: 'Overpass Mono', monospace;
}

.section__head::before
{
  content: "<";
}

.section__head::after
{
  content: ">";
}

.section__head::before,
.section__head::after
{
  display: inline-block;
}

/*----- Experience ----*/
#experience
{
  background-image: linear-gradient(#000000, rgb(0 0 0 / 50%)), url(../img/experience__background.jpg);
}

.card::after
{
  top: -10px;
  left: -10px;
  width: inherit;
  padding: 0.5rem;
  color: #212121;
  font-weight: 700;
  line-height: 1.5;
  font-style: italic;
  text-align: center;
  position: absolute;
  background: #FFC600;
  content: attr(data-label);
  font-family: radnika, sans-serif;
  box-shadow: 4px 4px 15px rgba(26, 35, 126, 0.2);
}

.glass__effect
{
  border-radius: 5px;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
  background-color: rgba(255, 255, 255, .15);
}

.experience__link,
.experience__link:hover
{
  color: #FFF;
}

/*----- Skills -----*/
#skills
{
  background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(../img/skills__background.jpg);
}

.skils__icon
{
  width: 4rem;
  height: 4rem;
  align-items: center;
  margin-bottom: 1rem;
  display: inline-flex;
  border-radius: 0.75rem;
  justify-content: center;
  background-color: #FFC600;
  box-shadow: 0px ​0px 10px rgb(0 0 0 / 50%);
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

.skils__icon h1
{
  text-shadow: 0px 2px 2px rgb(0 0 0 / 40%);
}

.skills__section-content
{
  text-align: center;
}

/*----- Modal -----*/
#modal__about-me .modal-body
{
  padding: 0;
}

.modal__about-text
{
  top: -10px;
  left: 100px; 
  color: #4A4A4A;
}

.modal__contact-text
{
  right: -10px;
  bottom: -15px;
  color: #FFF;  
}

.modal__about-text,
.modal__contact-text
{
  z-index: 0;
  opacity: .07;
  font-weight: 900;
  font-size: 7.5rem;
  position: absolute;
  font-family: League Spartan, Helvetica, Arial, sans-serif;
}

.modal__about-wrapper
{
  background-color: #EBEBEB;
}

.modal__contact-wrapper
{
  z-index: 59;
  color:#FFF;
  background-color: #1B1C25;
}

.modal__contact-content .btn-close
{
  color: #FFF;
  background: none;
}

.modal__about-content,
.modal__contact-content
{
  margin-top: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-bottom: 1.5rem;
}

.modal__about-title,
.modal__contact-title
{
  font-size: 1.5rem;
}

.modal__about-subtitle
{
  font-size: 1rem;
  font-weight: 400;
  font-family: LibreBaskerville-Regular, Palatino Linotype, Times New Roman,serif;
}

.modal__about-avatar
{
  display: flex;
  margin-bottom: 1.5rem;
  justify-content: center;
}

.modal__about-avatar img
{
  width: 100px;
  height: 110px;
  aspect-ratio: auto 100 / 100;
}

/*----- Valorant button -----*/
.hdr__btn-about-me,
.mdl__btn-about-me
{
  border: 0;
  color: #FFF;
  display: block;
  padding: 0.5rem;
  font-weight: 400;
  font-size: 1.2rem;
  position: relative;
  width: fit-content;
  margin-bottom: 3rem;
  text-transform: uppercase;
  background-color: transparent;
}

.hdr__btn-about-me .label,
.mdl__btn-about-me .label
{
  margin: 0;
  overflow: hidden;
  position: relative;  
}

.hdr__btn-text,
.mdl__btn-text
{
  z-index: 1;
  display: block;
  position: relative;
  padding: 0.5rem 0.5rem;
  background-color: transparent;
}

.hdr__btn-hover-effect,
.mdl__btn-hover-effect
{
  top: 0;
  left: -5%;
  z-index: 1;
  width: 120%;
  content: "";
  height: 100%;
  display: block;
  position: absolute;
  background-color: #FFC600;
  transition: transform 0.3s ease-out;
  transform: translateX(-100%) skew(-10deg);
  transition: -webkit-transform 0.3s ease-out;
}

.hdr__btn-about-me:hover,
.mdl__btn-about-me:hover
{
  color: #FFF;
  cursor: inherit;
}

.hdr__btn-about-me::before,
.hdr__btn-about-me::after,
.mdl__btn-about-me::before,
.mdl__btn-about-me::after
{
  left: 0;
  width: 100%;
  content: "";
  display: block;
  position: absolute;
  height: calc(50% - 0.4rem);
  background-color: transparent;
  border: 1px solid rgba(236, 232, 225, 0.5);
}

.hdr__btn-about-me::before,
.mdl__btn-about-me::before
{
  top: 0;
  border-bottom: 0;
}

.hdr__btn-about-me::after,
.mdl__btn-about-me::after
{
  bottom: 0;
  border-top: 0;
}

.hdr__btn-about-me .label:before,
.mdl__btn-about-me .label:before
{
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;  
}

.hdr__btn-about-me:hover .hdr__btn-hover-effect,
.mdl__btn-about-me:hover .mdl__btn-hover-effect
{
  transform: translateX(0) skew(-10deg);
}

.hdr__btn-text:after,
.mdl__btn-text:after
{
  right: 0;
  bottom: 0;
  content: "";
  width: 0.6rem;
  height: 0.6rem;
  display: block;
  position: absolute;
  background-color: #212121;
  transition: background-color 0.2s ease-in;
}

.hdr__btn-about-me:hover .hdr__btn-text:after,
.mdl__btn-about-me:hover .mdl__btn-text:after
{
  background-color:#FFF;
}

.hdr__btn-about-me .label::before,
.hdr__btn-about-me .label::after,
.mdl__btn-about-me .label::before,
.mdl__btn-about-me .label::after
{
  border: 1px solid rgba(236, 232, 225, 0.5);
}

.hdr__btn-about-me:hover,
.mdl__btn-about-me:hover
{
  color: #212121;
}

.hdr__btn-about-me::before,
.hdr__btn-about-me::after,
.mdl__btn-about-me::before,
.mdl__btn-about-me::after
{
  border-color: #FFC600;
}

/*----- Footer -----*/
.social__media
{
  display: flex;
  padding-left: 0;
  list-style: none;
  margin-top: 1rem;
  justify-content: center;
}

.social__media li a
{
  color: #FFF;
  font-size: 2rem;
}

.social__media li a:focus
{
  box-shadow: none;
}

.social__media li a:hover
{
  color: inherit;
}

.ft__signature
{
  display: flex;
  margin-bottom: 1rem;
  justify-content: center;
}

.ft__signature lead
{
  text-align: center;
}

.ft__signature lead a
{
  color: #AB47BC;
}