/*
 * rmarasigan v1.0.0
 * Copyright 2020
 * https://github.com/rmarasigan/
===============================================================================
 * Table of Contents
  - Gilroy
  - Basier Circle
  - Basier Square
===============================================================================
 * Guide:
  > 900 - Black
  > 800 - Extra Bold
  > 700 - Bold
  > 600 - Semi Bold
  > 500 - Medium
  > 400 - Regular
  > 300 - Light
  > 200 - Ultra Light
  > 100 - Thin
*/

/* ----- Gilroy ----- */
@font-face
{
  font-family: 'Gilroy';
  src: url(Gilroy/Gilroy-Heavy.ttf);
  font-style: normal;
  font-weight: 1000;
}

@font-face
{
  font-family: 'Gilroy';
  src: url(Gilroy/Gilroy-Black.ttf);
  font-style: normal;
  font-weight: 900;
}

@font-face
{
  font-family: 'Gilroy';
  src: url(Gilroy/Gilroy-ExtraBold.ttf);
  font-style: normal;
  font-weight: 800;
}

@font-face
{
  font-family: 'Gilroy';
  src: url(Gilroy/Gilroy-ExtraBold.ttf);
  font-style: normal;
  font-weight: 800;
}

@font-face
{
  font-family: 'Gilroy';
  src: url(Gilroy/Gilroy-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}

@font-face
{
  font-family: 'Gilroy';
  src: url(Gilroy/Gilroy-SemiBold.ttf);
  font-style: normal;
  font-weight: 600;
}

@font-face
{
  font-family: 'Gilroy';
  src: url(Gilroy/Gilroy-Medium.ttf);
  font-style: normal;
  font-weight: 500;
}

@font-face
{
  font-family: 'Gilroy';
  src: url(Gilroy/Gilroy-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face
{
  font-family: 'Gilroy';
  src: url(Gilroy/Gilroy-Light.ttf);
  font-style: normal;
  font-weight: 300;
}

@font-face
{
  font-family: 'Gilroy';
  src: url(Gilroy/Gilroy-UltraLight.ttf);
  font-style: normal;
  font-weight: 200;
}

@font-face
{
  font-family: 'Gilroy';
  src: url(Gilroy/Gilroy-Thin.ttf);
  font-style: normal;
  font-weight: 100;
}


/* ----- Basier Circle ----- */
@font-face
{
  font-family: 'Basier Circle';
  src: url(Basier/Basier-Circle--Bold.otf) format("opentype");
  font-style: normal;
  font-weight: 700;
}

@font-face
{
  font-family: 'Basier Circle';
  src: url(Basier/Basier-Circle--Bold-Italic.otf) format("opentype");
  font-style: italic;
  font-weight: 700;
}

@font-face
{
  font-family: 'Basier Circle';
  src: url(Basier/Basier-Circle--SemiBold.otf) format("opentype");
  font-style: normal;
  font-weight: 600;
}

@font-face
{
  font-family: 'Basier Circle';
  src: url(Basier/Basier-Circle--SemiBold-Italic.otf) format("opentype");
  font-style: italic;
  font-weight: 600;
}

@font-face
{
  font-family: 'Basier Circle';
  src: url(Basier/Basier-Circle--Medium.otf) format("opentype");
  font-style: normal;
  font-weight: 500;
}

@font-face
{
  font-family: 'Basier Circle';
  src: url(Basier/Basier-Circle--Medium-Italic.otf) format("opentype");
  font-style: italic;
  font-weight: 500;
}

@font-face
{
  font-family: 'Basier Circle';
  src: url(Basier/Basier-Circle--Regular.otf) format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face
{
  font-family: 'Basier Circle';
  src: url(Basier/Basier-Circle--Regular-Italic.otf) format("opentype");
  font-style: italic;
  font-weight: 400;
}

/* ----- Basier Square ----- */
@font-face
{
  font-family: 'Basier Square';
  src: url(Basier/Basier-Square--Bold.otf) format("opentype");
  font-style: normal;
  font-weight: 700;
}

@font-face
{
  font-family: 'Basier Square';
  src: url(Basier/Basier-Square--Bold-Italic.otf) format("opentype");
  font-style: italic;
  font-weight: 700;
}

@font-face
{
  font-family: 'Basier Square';
  src: url(Basier/Basier-Square--SemiBold.otf) format("opentype");
  font-style: normal;
  font-weight: 600;
}

@font-face
{
  font-family: 'Basier Square';
  src: url(Basier/Basier-Square--SemiBold-Italic.otf) format("opentype");
  font-style: italic;
  font-weight: 600;
}

@font-face
{
  font-family: 'Basier Square';
  src: url(Basier/Basier-Square--Medium.otf) format("opentype");
  font-style: normal;
  font-weight: 500;
}

@font-face
{
  font-family: 'Basier Square';
  src: url(Basier/Basier-Square--Medium-Italic.otf) format("opentype");
  font-style: italic;
  font-weight: 500;
}

@font-face
{
  font-family: 'Basier Square';
  src: url(Basier/Basier-Square--Regular.otf) format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face
{
  font-family: 'Basier Square';
  src: url(Basier/Basier-Square--Regular-Italic.otf) format("opentype");
  font-style: italic;
  font-weight: 400;
}
